__Question 1 :__
Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.

In [ ]:
email = input("Please Enter email adress : ")
print(email[email.find("@") + 1 : email.find(".com")])

Please Enter email adress :  john@google.com
google

__Question 2 :__
Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [ ]:
words = input("Please insert comma separated words : ")
words.split(",").sort()
print(words)

Please insert comma separated words : without,hello,bag,world Output: bag,hello,without,world
without,hello,bag,world Output: bag,hello,without,world

__Question 3:__
Create your own Jupyter Notebook for Sets. Reference link:
https://www.w3schools.com/python/python_sets.asp

# __Set__

###__Syntax:__

set1 = {"name",10 , 20 , 30.12}

###__Access Items__
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

Example:

sset = {"apple", "banana", "cherry"}

for x in sset:
  print(x)

__Change Items
Once a set is created, you cannot change its items, but you can add new items.__

Set is __immutable__

##__Add Items__
To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

##__Remove Item__
To remove an item in a set, use the remove(), or the discard() method.

####You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed. 
####The return value of the pop() method is the removed item.

#####You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

####__Note: Both union() and update() will exclude any duplicate items.__


##Methods 
add()	Adds an element to the set

clear()	Removes all the elements from the set

copy()	Returns a copy of the set

difference()	Returns a set containing the difference between two or more sets

difference_update()	Removes the items in this set that are also included in 
another, specified set

discard()	Remove the specified item

intersection()	Returns a set, that is the intersection of two other sets

intersection_update()	Removes the items in this set that are not present in 
other, specified set(s)

isdisjoint()	Returns whether two sets have a intersection or not

issubset()	Returns whether another set contains this set or not

issuperset()	Returns whether this set contains another set or not

pop()	Removes an element from the set

remove()	Removes the specified element

symmetric_difference()	Returns a set with the symmetric differences of two sets

symmetric_difference_update()	inserts the symmetric differences from this set 
and another

union()	Return a set containing the union of sets

update()	Update the set with the union of this set and others

__Question 4:__
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:
1 2 4 6 3 7 8
Output:
5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [ ]:
inp = (input("Please input numbers :")).split(" ")
print(inp)
missing = []
for i in range(1,int(max(inp))+1) :
  if str(i) in inp :
    continue
  else :
    missing.append(i)
print(missing, " these are missing in the input")

Please input numbers :1 2 4 6 3 7 8
['1', '2', '4', '6', '3', '7', '8']
[5]  these are missing in the input

__Question 5:__
With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35

In [21]:
l = list(input("Please enter a list : ").split(" "))
l1 = ""
for i in l:
  if (i in l1) == False:
    l1 = l1 +" " + i
print(l1)

Please enter a list : 12 24 35 24
 12 24 35